.main {
  height: 100vh;
  display: flex;
  padding: 1em;
  gap: 2em;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
  width: 25%;
  max-width: 300px;
  border-right: 1px solid rgb(var(--color-surface-50) / .5);
  gap: .3em;
}

.navbar a {
  color: rgb(var(--color-surface-50));
  text-decoration: none;
  font-weight: bold;
}

.container {
  padding: 1em;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
}

.subtitle {
  color: rgb(var(--color-surface-50) / .5);
}

.logo_image {
  height: 3em;
  width: auto;
}