:root {
  --on-primary: 255 255 255;
  --on-secondary: 255 255 255;
  --on-tertiary: 255 255 255;
  --on-success: 255 255 255;
  --on-warning: 255 255 255;
  --on-error: 255 255 255;
  --on-surface: 255 255 255;

  --color-primary-50: 217 233 245;
  --color-primary-100: 204 226 241;
  --color-primary-200: 192 219 238;
  --color-primary-300: 153 197 227;
  --color-primary-400: 77 154 206;
  --color-primary-500: 1 111 185;
  --color-primary-600: 1 100 167;
  --color-primary-700: 1 83 139;
  --color-primary-800: 1 67 111;
  --color-primary-900: 0 54 91;

  --color-secondary-50: 246 224 233;
  --color-secondary-100: 243 213 225;
  --color-secondary-200: 241 203 218;
  --color-secondary-300: 232 171 195;
  --color-secondary-400: 214 109 151;
  --color-secondary-500: 197 46 106;
  --color-secondary-600: 177 41 95;
  --color-secondary-700: 148 35 80;
  --color-secondary-800: 118 28 64;
  --color-secondary-900: 97 23 52;

  --color-tertiary-50: 219 219 219;
  --color-tertiary-100: 208 208 208;
  --color-tertiary-200: 196 196 196;
  --color-tertiary-300: 160 160 160;
  --color-tertiary-400: 89 89 89;
  --color-tertiary-500: 18 18 18;
  --color-tertiary-600: 16 16 16;
  --color-tertiary-700: 14 14 14;
  --color-tertiary-800: 11 11 11;
  --color-tertiary-900: 9 9 9;

  --color-success-50: 217 237 222;
  --color-success-100: 204 231 210;
  --color-success-200: 191 225 199;
  --color-success-300: 153 206 166;
  --color-success-400: 77 170 99;
  --color-success-500: 0 133 32;
  --color-success-600: 0 120 29;
  --color-success-700: 0 100 24;
  --color-success-800: 0 80 19;
  --color-success-900: 0 65 16;

  --color-warning-50: 245 227 217;
  --color-warning-100: 241 218 204;
  --color-warning-200: 238 209 191;
  --color-warning-300: 227 181 153;
  --color-warning-400: 207 126 77;
  --color-warning-500: 186 71 0;
  --color-warning-600: 167 64 0;
  --color-warning-700: 140 53 0;
  --color-warning-800: 112 43 0;
  --color-warning-900: 91 35 0;
  --color-error-50: 246 225 225;
  --color-error-100: 244 215 214;
  --color-error-200: 241 205 204;
  --color-error-300: 232 175 174;
  --color-error-400: 215 115 113;
  --color-error-500: 198 55 52;
  --color-error-600: 178 50 47;
  --color-error-700: 149 41 39;
  --color-error-800: 119 33 31;
  --color-error-900: 97 27 25;
  --color-surface-50: 219 219 219;
  --color-surface-100: 208 208 208;
  --color-surface-200: 196 196 196;
  --color-surface-300: 160 160 160;
  --color-surface-400: 89 89 89;
  --color-surface-500: 18 18 18;
  --color-surface-600: 16 16 16;
  --color-surface-700: 14 14 14;
  --color-surface-800: 11 11 11;
  --color-surface-900: 9 9 9;

  font-size: 1rem;
}

body {
  background-color: rgb(var(--color-surface-900));
  color: rgb(var(--on-surface));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
