.surface {
  background-color: rgb(var(--color-surface-800));
  color: rgb(var(--on-surface));
  outline: 1px solid rgb(var(--color-surface-50) / 0.1);
}

/*
    sm: cs.br_sm,
    md: cs.br_md,
    lg: cs.br_lg,
*/

.br_sm {
  border-radius: 0.2rem;
}

.br_md {
  border-radius: 0.5rem;
}

.br_lg {
  border-radius: 0.75rem;
}

.pad_sm {
  padding: 0.2rem;
}

.pad_md {
  padding: 0.5rem;
}

.pad_lg {
  padding: 0.75rem;
}

.stack {
  display: flex;
  flex-direction: column;
}

.gap_sm {
  gap: 0.2rem;
}

.gap_md {
  gap: 0.2rem;
}

.gap_lg {
  gap: 0.75rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(var(--color-surface-400) / 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}

.table th,
.table td {
  padding: 15px;
  text-align: center;
}

.table tr:hover {
  background-color: rgb(var(--color-surface-50) / 0.1);
}

.table tr:nth-child(even) {
  background-color: rgb(var(--color-surface-500) / 0.4);
}

.flex {
  display: flex;
}

.justify_right {
  justify-content: right;
}

.justify_left {
  justify-content: left;
}

.justify_space_between {
  justify-content: space-between;
}

.justify_space_evenly {
  justify-content: space-evenly;
}

.flex_direction_col {
  flex-direction: column;
}
